
.body{
	height: 100%;
}
.img-thumbnail {
	border: transparent;
}

.navbar{
	padding-left: 30px;
	padding-right: 0px;
	margin-bottom: 0px;
}

.navbar-brand{
	display: inline-block;
	text-indent: -9999px;
	width: 190px;
	height: 50px;
	background: url(../img/easyfb.png) center center no-repeat;
}

.social {
	height: 40px;
	width: 40px;
	border-radius: 20px;
}

.navbar-default {
	background-color: #77C18F;
}

.navbar-default .navbar-nav > li > a {
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
    
}

footer {
	margin-top: 0px;
	margin-bottom: 0px;
}

#footer-navigazione {
	background-color: #77C18F;
	width: 100%;
	border-radius: 4px;
	border: 1px solid transparent;
	border-color: #e7e7e7;
}

#footer-copy {
 background-color: #77C18F;
 padding: 10px 0 0 0;
 border-top: 1px solid #ffffff;
 border-radius:4px;
}

#social-link-facebook  {
	display:inline;
    padding-top: 5px;
    padding-bottom: 2px;
}

#social-link-twitter {
	display: inline;
    padding-top: 5px;
    padding-bottom: 2px;
}

#contatti {
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: #ffffff;
}

.sezioni-footer {
	padding-left: 30px;
	color: #ffffff;
}


#copyright {
	padding-left: 15px;
	color: #ffffff;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

@media (max-width: 768px) {
	#social {
		padding-bottom: 25px;
	}
}

@media (max-width: 768px) {
	#contatti {
		padding-top: 5px;
		border-width: 2px 0px 0px 0px;
		border-color: #ffffff;
	}
}