.img-thumbnail {
	border: none;
}

.navbar {
	border: none;
}

.navbar-default {
 background-color: #fcfcfc;
}

.navbar-default .navbar-nav > li > a {
  font-size: 1.3em;
}

#promo {
	height: 300%;
	width: 300%;
}

#anziani {
	height: 50%;
	width: 50%;
}