.img-thumbnail {
	border: none;
}

.navbar {
	border: none;
}

.navbar-default {
 background-color: #fcfcfc;
}

.navbar-default .navbar-nav > li > a {
  font-size: 1.3em;
}

.footer {
	font-size: 1.3em;
}